<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itsun.dao.ProvinceMapper">
  <resultMap id="BaseResultMap" type="com.itsun.entity.Province">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="province_id" jdbcType="CHAR" property="provinceId" />
    <result column="province" jdbcType="VARCHAR" property="province" />
  </resultMap>
  <sql id="Base_Column_List">
    id, province_id, province
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from provinces
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAllProvince"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from provinces
  </select>
  <select id="selectProvinceByPid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from provinces
    where province_id = #{pid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from provinces
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.itsun.entity.Province">
    insert into provinces (id, province_id, province
      )
    values (#{id,jdbcType=INTEGER}, #{provinceId,jdbcType=CHAR}, #{province,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.itsun.entity.Province">
    insert into provinces
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="provinceId != null">
        province_id,
      </if>
      <if test="province != null">
        province,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null">
        #{provinceId,jdbcType=CHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.itsun.entity.Province">
    update provinces
    <set>
      <if test="provinceId != null">
        province_id = #{provinceId,jdbcType=CHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itsun.entity.Province">
    update provinces
    set province_id = #{provinceId,jdbcType=CHAR},
      province = #{province,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>